body {
    background-image: url(cake_icon.png);
  }

h1 {
    font-family: 'Amatic SC', cursive;  
    text-align: center;
    font-size: 8vmin;
}
nav{
     text-align: center;
 }

#banner {
    display: inline-block;
    margin: 0 10px;
}

dt {
    font-family: Ubuntu, monospace;
    font-size: large;
}

.about_list {
    list-style-type: disc;
}
.about_sublist {
    list-style-type: square;
}

.recipes_sublist {
    list-style-type: none;
}

.measurement {
    
}
