h1 {
    font-family: 'Amatic SC', cursive;  
    text-align: center;
    font-size: 8vmin;
}
 nav{
     text-align: center;
 }

#banner {
    display: inline-block;
    margin: 0 10px;
}

dt {
    font-family: Ubuntu, monospace;
    font-size: large;
}
